.app-container {
  background-color: #f3f3fb;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-panel-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
}